.conditions
  p.conditions__text
    | L1200662W001197. 
    br
    |           Se aplic&abreve; T&amp;C
  img.conditions__img(src='./images/18.svg' alt='')
  img.conditions__img(src='./images/onjn.png' alt='')
