.crowd
  picture.users-left
    source(srcset='\
    ./images/left-users/1users.png    1x,\
    ./images/left-users/1users_x2.png 2x,\
    ./images/left-users/1users_x3.png 3x\
    ' media='(min-width: 1921px)')
    source(srcset='\
    ./images/left-users/2users.png    1x,\
    ./images/left-users/2users_x2.png 2x,\
    ./images/left-users/2users_x3.png 3x\
    ' media='(min-width: 1366px) and (max-width: 1920px)')
    source(srcset='\
    ./images/left-users/3users.png    1x,\
    ./images/left-users/3users_x2.png 2x,\
    ./images/left-users/3users_x3.png 3x\
    ' media='(min-width: 1024px) and (max-width: 1365px)')
    source(srcset='\
    ./images/left-users/4users.png    1x,\
    ./images/left-users/4users_x2.png 2x,\
    ./images/left-users/4users_x3.png 3x\
    ' media='(min-width: 768px) and (max-width: 1023px)')
    img(src='./images/left-users/1users.png' srcset='\
    ./images/left-users/1users.png    1x,\
    ./images/left-users/1users_x2.png 2x,\
    ./images/left-users/1users_x3.png 3x\
    ' alt='mulţimea 1')
  picture.users-right
    source(srcset='\
    ./images/right-users/1users.png    1x,\
    ./images/right-users/1users_x2.png 2x,\
    ./images/right-users/1users_x3.png 3x\
    ' media='(min-width: 1921px)')
    source(srcset='\
    ./images/right-users/2users.png    1x,\
    ./images/right-users/2users_x2.png 2x,\
    ./images/right-users/2users_x3.png 3x\
    ' media='(min-width: 1366px) and (max-width: 1920px)')
    source(srcset='\
    ./images/right-users/3users.png    1x,\
    ./images/right-users/3users_x2.png 2x,\
    ./images/right-users/3users_x3.png 3x\
    ' media='(min-width: 1024px) and (max-width: 1365px)')
    img(src='./images/right-users/1users.png' srcset='\
    ./images/right-users/1users.png    1x,\
    ./images/right-users/1users_x2.png 2x,\
    ./images/right-users/1users_x3.png 3x\
    ' alt='mulţimea 2')
