.info
  .info__sub-title
    h2
      | Ora&#x219;ul 
      span distrac&#x21B;iei
  .info__title
    h1
      | BONUS 
      span.pink 150%
      br
      |             P&Acirc;N&Abreve; LA 
      span.pink 2000 LEI
  .info__details
    p.details__text
      | PARIU F&Abreve;R&Abreve; 
      br
      |RISC 250 LEI
    .details__plus
      img(src='./images/plus.svg' alt='')
    p.details__text
      | P&Acirc;N&Abreve; LA 725 DE 
      br
      |             ROTIRI GRATUITE
  .details__button
    button Plaseaz&abreve; un pariu
    span.border.border-top
    span.border.border-right
    span.border.border-bottom
    span.border.border-left
