.koala
  picture
    source(srcset='\
    ./images/sam/1sam.png    1x,\
    ./images/sam/1sam_x2.png 2x,\
    ./images/sam/1sam_x3.png 3x\
    ' media='(min-width: 1921px)')
    source(srcset='\
    ./images/sam/2sam.png    1x,\
    ./images/sam/2sam_x2.png 2x,\
    ./images/sam/2sam_x3.png 3x\
    ' media='(min-width: 1366px) and (max-width: 1920px)')
    source(srcset='\
    ./images/sam/3sam.png    1x,\
    ./images/sam/3sam_x2.png 2x,\
    ./images/sam/3sam_x3.png 3x\
    ' media='(min-width: 1024px) and (max-width: 1365px)')
    source(srcset='\
    ./images/sam/4sam.png    1x,\
    ./images/sam/4sam_x2.png 2x,\
    ./images/sam/4sam_x3.png 3x\
    ' media='(min-width: 768px) and (max-width: 1023px)')
    source(srcset='\
    ./images/sam/5sam.png    1x,\
    ./images/sam/5sam_x2.png 2x,\
    ./images/sam/5sam_x3.png 3x\
    ' media='(min-width: 375px) and (max-width: 767px)')
    source(srcset='\
    ./images/sam/6sam.png    1x,\
    ./images/sam/6sam_x2.png 2x,\
    ./images/sam/6sam_x3.png 3x\
    ' media='(max-width: 374px)')
    img(src='./images/sam/1sam.png' srcset='\
    ./images/sam/1sam.png    1x,\
    ./images/sam/1sam_x2.png 2x,\
    ./images/sam/1sam_x3.png 3x\
    ' alt='recomandă koala')
