.salute.salute--1
  img(src='./images/salute1.png' alt='focuri de artificii')
.salute.salute--2
  img(src='./images/salute1.png' alt='focuri de artificii')
.salute.salute--3
  img(src='./images/salute1.png' alt='focuri de artificii')
.salute.salute--4
  img(src='./images/salute2.png' alt='focuri de artificii')
