script(src='https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js')
script(src='./scripts/snow.js' defer='')
script(src='./scripts/gsap-koala.js' defer='')
script(src='./scripts/gsap-button.js' defer='')
script(src='./scripts/projectors.js' defer='')
script(src='./scripts/salute.js' defer='')
