.statue
  picture
    source(srcset='\
    ./images/statue/1statue.png    1x,\
    ./images/statue/1statue_x2.png 2x,\
    ./images/statue/1statue_x3.png 3x\
    ' media='(min-width: 1921px)')
    source(srcset='\
    ./images/statue/2statue.png    1x,\
    ./images/statue/2statue_x2.png 2x,\
    ./images/statue/2statue_x3.png 3x\
    ' media='(min-width: 1366px) and (max-width: 1920px)')
    source(srcset='\
    ./images/statue/3statue.png    1x,\
    ./images/statue/3statue_x2.png 2x,\
    ./images/statue/3statue_x3.png 3x\
    ' media='(min-width: 1024px) and (max-width: 1365px)')
    img(src='./images/statue/1statue.png' srcset='\
    ./images/statue/1statue.png    1x,\
    ./images/statue/1statue_x2.png 2x,\
    ./images/statue/1statue_x3.png 3x\
    ' alt='statuie')
