doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title FavBet - Ora&#x219;ul distrac&#x21B;iei
  link(rel='icon' type='image/png' href='./images/favicon.png')
  link(rel='stylesheet' href='./css/styles.css')

.main__container
    include modules/_logo
    include modules/_salute
    include modules/_pyramid
    include modules/_koala
    include modules/_info
    include modules/_crowd
    include modules/_statue
    include modules/_conditions

    .snow 
    
    include modules/_scripts