@import './scss/base/reset';
@import './scss/base/fonts';
@import './scss/media/320';
@import './scss/media/375';
@import './scss/media/768';
@import './scss/media/1024';
@import './scss/media/1366';
@import './scss/media/1921';

// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

html,
body {
  min-width: 100vw;
  min-height: 100vh;
}

.main__container {
  position: relative;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  background-color: #000055;
  overflow: hidden;
  font-family: "Suisse Int'l";
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

//            NEW MEDIA

.koala {
  position: absolute;
  z-index: 89;
}

.koala img {
  width: 100%;
  height: 100%;
}

.pyramid {
  position: absolute;
  left: 0;
  z-index: 69;

  &__image {
    position: relative;
  }

  &__projector {
    position: absolute;
  }
}

.pyramid img {
  width: 100%;
  height: 100%;
}

.statue {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 82;
}

.statue img {
  width: 100%;
  height: 100%;
}

.crowd {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 79;
}

.crowd img {
  width: 100%;
  height: 100%;
}

.info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;

  &__sub-title {
    background-color: #ff267e;
    text-align: center;

    h2 {
      font-style: normal;
      font-weight: 600;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;

      span {
        font-family: 'Wulkan Display';
      }
    }
  }

  &__title {
    h1 {
      font-style: normal;
      font-weight: 600;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #e8e8e8;
    }

    .pink {
      color: #ff267e;
      font-family: 'Wulkan Display';
    }
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details__text {
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #e8e8e8;
  }

  .details__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ff267e;
  }

  .details__button {
    position: relative;

    button {
      position: relative;
      background: #05c489;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #00003d;
      cursor: pointer;
    }

    .border {
      position: absolute;
      background-color: #ff0077;
      z-index: 1;

      &.border-top {
        top: 0;
        left: 0;
        width: 0%;
        height: 10px;
      }

      &.border-right {
        top: 0;
        right: 0;
        width: 10px;
        height: 0%;
      }

      &.border-bottom {
        bottom: 0;
        right: 0;
        width: 0%;
        height: 10px;
      }

      &.border-left {
        bottom: 0;
        left: 0;
        width: 10px;
        height: 0%;
      }
    }
  }
}

.salute {
  position: absolute;
  z-index: 59;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--1 {
    top: 180px;
    left: 430px;
  }

  &--2 {
    bottom: 60px;
    left: 770px;
  }

  &--3 {
    bottom: 30px;
    right: 110px;
  }

  &--4 {
    bottom: 104px;
    right: -75px;
  }
}

.conditions {
  position: absolute;
  display: flex;
  z-index: 100;

  &__text {
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.02em;
    color: #e8e8e8;
  }
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80vh;
}

.snowflake {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgba(214, 214, 204, 0.8);
  border-radius: 50%;
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(90vh);
    opacity: 0;
  }
}
