// 1921px * 1080px
@media (min-width: 1921px) {
  .main__container {
    background-image: url('../images/bg/1bg.png');
  }

  .logo {
    width: 474px;
    height: 154px;
  }

  .koala {
    width: 717px;
    height: 853px;
    bottom: 0;
    left: 77px;
  }

  .pyramid {
    bottom: 30px;

    &__projector {
      &--1 {
        top: -32%;
        left: -20%;
        transform: rotate(-110deg);
      }

      &--2 {
        top: -35%;
        left: 320px;
      }

      &--3 {
        bottom: 10%;
        right: -25%;
      }
    }
  }

  .crowd {
    max-height: 153px;
  }

  .info {
    top: 100px;
    right: 62px;

    &__sub-title {
      margin-bottom: 40px;
      padding-block: 5px;

      h2 {
        font-size: 58px;
        line-height: 80px;
      }
    }

    &__title {
      margin-bottom: 28px;

      h1 {
        font-size: 77px;
        line-height: 100px;
        text-align: center;
      }
    }

    &__details {
      gap: 33px;
      margin-bottom: 38px;
    }

    .details__text {
      font-size: 32px;
      line-height: 40px;
    }

    .details__plus {
      width: 62px;
      height: 51px;
      border: 1.72px solid #ededed;
    }

    .details__button {
      display: flex;
      justify-content: center;

      button {
        width: 400px;
        height: 90px;
        padding: 30px;
        border-radius: 4.72714px;
        font-size: 24px;
        line-height: 31px;
      }
    }
  }

  .salute {
    &--1 {
      max-width: 504px;
    }

    &--2 {
      max-width: 454px;
    }

    &--3 {
      max-width: 344px;
    }

    &--4 {
      max-width: 268px;
    }
  }

  .conditions {
    bottom: 18px;
    right: 24px;
    gap: 18px;

    &__text {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
