@media (min-width: 320px) and (max-width: 374px) {
  .main__container {
    background-image: url('../images/bg/6bg.png');
  }

  .logo {
    width: 158px;
    height: 51.5px;
  }

  .koala {
    width: 217px;
    height: 332px;
    bottom: 72px;
    left: 0;
  }

  .pyramid {
    right: 0;
    bottom: 72px;

    &__projector {
      &--1 {
        display: none;
      }

      &--2 {
        top: -23%;
        left: 30%;
      }

      &--3 {
        display: none;
      }
    }
  }

  .statue {
    display: none;
  }

  .users-left,
  .users-right {
    display: none;
  }

  .info {
    top: 69px;
    right: 0;
    left: 0;
    padding-inline: 10px;

    &__sub-title {
      width: fit-content;
      padding: 3px 12px;
      margin: 0 auto;

      h2 {
        font-size: 19px;
        line-height: 26px;
      }
    }

    &__title {
      margin-block: 12px;

      h1 {
        font-size: 33px;
        line-height: 40px;
        text-align: center;
      }
    }

    &__details {
      gap: 14px;
      margin-bottom: 0;
    }

    .details__text {
      font-size: 15px;
      line-height: 20px;
    }

    .details__plus {
      width: 30px;
      height: 24px;
      border: 0.7px solid #ededed;

      img {
        max-width: 10px;
        max-height: 10px;
      }
    }

    .details__button {
      position: fixed !important;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      background-color: #010155;
      z-index: 100;

      button {
        width: calc(100% - 26px);
        height: 50px;
        margin: 15px;
        border-radius: 3.36px;
        font-size: 16px;
        line-height: 21px;
      }
      .border {
        display: none;
      }
    }
  }

  .salute {
    &--1 {
      max-width: 137px;
      left: 0 !important;
    }

    &--2 {
      max-width: 174px;
      bottom: auto !important;
      left: auto !important;
      right: 0;
      top: 40%;
    }

    &--3 {
      display: none;
    }

    &--4 {
      display: none;
    }
  }

  .conditions {
    flex-direction: column-reverse;
    bottom: calc(43px + 48px);
    right: auto;
    gap: 6px;
    left: 8px;

    &__text {
      font-size: 6.35px;
      line-height: 8px;
      text-align: start !important;
    }

    &__img {
      max-width: 27px;
    }
  }
}
