// 768px * 1024px
@media (min-width: 768px) and (max-width: 1023px) {
  .main__container {
    background-image: url('../images/bg/4bg.png');
  }

  .logo {
    width: 277px;
    height: 90px;
  }

  .koala {
    width: 396px;
    height: 624px;
    bottom: 0;
  }

  .pyramid {
    bottom: 12px;
    right: 0;

    &__projector {
      &--1 {
        top: -75%;
        left: -60%;
        transform: rotate(-110deg);
      }

      &--2 {
        top: -85%;
        left: 20%;
      }

      &--3 {
        bottom: 5%;
        right: -40%;
      }
    }
  }

  .statue {
    display: none;
  }

  .users-right {
    display: none;
  }

  .crowd {
    max-height: 86px;
  }

  .info {
    top: 86px;
    right: 48px;

    &__sub-title {
      margin-bottom: 20px;

      h2 {
        font-size: 38px;
        line-height: 60px;
      }
    }

    &__title {
      margin-bottom: 20px;

      h1 {
        font-size: 50px;
        line-height: 65px;
        text-align: end;
      }
    }

    &__details {
      gap: 23px;
      margin-bottom: 24px;
    }

    .details__text {
      font-size: 20px;
      line-height: 25px;
    }

    .details__plus {
      width: 40px;
      height: 33px;
      border: 1.1px solid #ededed;

      img{
        max-width: 13px;
        max-height: 13px;
      }
    }

    .details__button {
      display: flex;
      justify-content: end;

      button {
        width: 272px;
        height: 60px;
        padding: 20px;
        border-radius: 3.36px;
        font-size: 16px;
        line-height: 21px;
      }
    }
  }

  .salute {
    &--1 {
      max-width: 272px;
      left: 50px !important;
    }

    &--2 {
      max-width: 272px;
      top: 400px;
      left: 270px !important;
      bottom: auto !important;
    }

    &--3 {
      max-width: 161px;
      bottom: 150px !important;
    }

    &--4 {
      max-width: 167px;
    }
  }

  .conditions {
    flex-direction: column-reverse;
    bottom: 10px;
    right: auto;
    gap: 10px;
    left: 15px;

    &__text {
      font-size: 10px;
      line-height: 12px;
      text-align: start !important;
    }

    &__img {
      max-width: 42px;
    }
  }
}
